*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #091427;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
}

header .logo{
    display: flex;
    align-items: center;
    color: #46af9d;
    gap: 20px;
}

header .logo .nome-header{
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
}

header nav{
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
}

header nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.btn-hover {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 1px solid #46af9d;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease;
}

.btn-hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #46af9d;
    z-index: 0;
    transition: transform 0.4s ease;
    transform: scaleX(0);
    transform-origin: left;
}

.btn-hover:hover::before {
    transform: scaleX(1);
}

.btn-hover span {
    position: relative;
    z-index: 1;
}


header nav ul li a{
    color: #46af9d;
    text-decoration: none;
}

header nav ul li a:hover{
    color: white;
}


main{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

main .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .menu .esquerda{
    flex-direction: column;
    display: flex;
    gap: 20px;
}

main .menu .menu-txt{
    color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

main .menu .menu-txt h1{
    font-size: 30px;
}

main .menu .menu-txt h1 span{
    font-size: 45px;
    color: #46af9d;
    font-weight: 900;
}

main .menu .menu-txt h3{
    width: 75%;
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
}

main .menu .esquerda button{
    background-color: transparent;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #46af9d;
    border-radius: 5px;
    width: 25%;
    color: white;
}

main .menu .esquerda button a{
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1;
}




main .sobre{
    display: flex;
    color: white;
    flex-direction: column;
    gap: 80px;
}

main .sobre .txt-sobre{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

main .sobre .txt-sobre h3{
    font-weight: 200;
    font-size: 16px;
}

main .sobre .txt-sobre .introducao-sobre{
    display: flex;
    align-items: center;
    gap: 15px;
}

main .sobre .txt-sobre .introducao-sobre h1{
    font-size: 50px;
}

main .sobre .txt-sobre .introducao-sobre .linha-sobre{
    width: 40%;
    border: 1px solid white;
    height: 0px;
    border-color: #9AA0C3;
    margin-top: 5px;
}

main .sobre .txt-sobre p{
    width: 55%;
    font-size: 18px;
    color: #9AA0C3;
}

main .sobre .cards-sobre{
    display: flex;
    justify-content: space-between;
}

main .sobre .cards-sobre .card-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid white;
    background-color: #0d1c35;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    color: #AAA6C3;
    font-weight: 600;
    transition: linear .2s;
    cursor: pointer;
}

main .sobre .cards-sobre .card-sobre:hover{
    transform: scale(1.05);
}

main .sobre .cards-sobre .card-sobre .circulo{
    background-color: #5CE9CB;
    padding: 30px;
    border-radius: 50%;
}

main .sobre .cards-sobre .card-sobre .circulo i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: black;
}

main .sobre .cards-sobre .card-sobre .circulo-svg{
    background-color: #5CE9CB;
    padding: 15px 20px;
    border-radius: 50%;
}

main .sobre .cards-sobre .card-sobre .circulo-game{
    background-color: #5CE9CB;
    padding: 25px 30px;
    border-radius: 50%;
    color: black;
    font-size: 22px;
}

main .sobre .cards-sobre .card-sobre .circulo svg{
    height: 30px;
    width: 30px;
}










main .tecnologias{
    display: flex;
    color: white;
    flex-direction: column;
    gap: 80px;
}

main .tecnologias .txt-tech{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

main .tecnologias .txt-tech h3{
    font-weight: 200;
    font-size: 16px;
}

main .tecnologias .txt-tech h1{
    font-size: 50px;
}


main .tecnologias .txt-tech .cards-tech{
    display: flex;
    justify-content: space-between;
}

main .tecnologias .txt-tech .cards-tech .card-tech{
    height: 20vw;
    width: 40vw;
    border: white 1px solid;
    border-radius: 10px;
}

main .tecnologias .txt-tech .cards-tech .card-tech h1{
    display: flex;
    justify-content: center;
}